<div class="container">

  <img src="/assets/img/biscuit_baron.png" alt="Biscuit Baron Logo" title="Biscuit Baron Logo">
  <h1>Eat-Da-Burger... IN SPACE!!</h1>

  <div>
  <img class="center" src="/assets/img/kronk-burger1.jpg" alt="KronkBurger" title="KronkBurger">
  <img class="center" src="/assets/img/neelix-burger.jpg" alt="Greasy Neelix" title="Greasy Neelix">
  <img class="center" src="/assets/img/hagro-biscuits.jpg" alt="Hagro Biscuit" title="Hagro Biscuit">
  </div>
  <div>
  <img class="center" src="/assets/img/burger_1.jpg" alt="Baron Biscuit" title="Baron Biscuit">
  <img class="center" src="/assets/img/bantha1.png" alt="Bantha Biscuit" title="Bantha Biscuit">
  <img class="center" src="/assets/img/nerf.jpg" alt="Nerf Burger" title="Nerf Burger">
  </div>
  <br>
  <h2 class="center">Make a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label class="center" for="ca">Burger Name:</label>
      <input class="center" type="text" id="ca" burger_name="burger_name">
    </div>

    <div class="form-group">
      <input type="radio" class="nodisplay" burger_name="devoured" value="0" checked><br>
    </div>

    <button class="center" type="submit">Add Burger</button>
  </form>
</div>

<h2>Created Burgers</h2>

<ul class="readyToEat">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul class="devoured">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>


