body {
  background-color: #3C4F89;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

li {
  padding: 5px;
  margin: 5px;
  background:#8DB05E;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.container {
  text-align: center;
}
.center {
  display: inline-block;
}

img {
  height: 200px;
  width: auto;
}

.nodisplay {
  display: none;
} 


